* {
	margin: 0;
	padding: 0;
	font-family: 'Press Start 2P', cursive;
	font-size: 10px; 
}

body {
	background: url("/img/back.gif") no-repeat;
	background-size: cover;
}

button {
	cursor: pointer;
}

/** 게임 타이틀 처리 **/
.game-title {
	text-align: center;
	line-height: 50px;
	padding: 20px;
	font-size: 6rem;
	animation: titlecolor infinite 3s;
	color: #ff8c00;
}


@keyframes titlecolor {
	0% {color: #ff8c00;}
	20% {color: #1dff00;}
	40% {color: #fff600;}
	60% {color: #846905;}
	80% {color: #fff;}
}

/** 메인 영역 **/
.main {
	width: 100%;
	text-align: center;
}

.digda-box {
	width: 700px;
	height: 600px;
	position: relative;
	left: calc((100vw - 700px) / 2);
	background: url("/img/background.png");
	box-shadow: 0 0 5px #000;
	cursor: url("/img/cursor.cur"), auto;	
}

/** 디그다 이미지 설정**/
/*#digda {
	position: absolute;
	z-index: 10000;
	animation: digdashake infinite 0.2s;
	display: none;
}*/

@keyframes digdashake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
  	10% { transform: translate(-1px, -2px) rotate(-1deg); }
  	20% { transform: translate(-3px, 0px) rotate(1deg); }
  	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }	
}


/** 하단 스코어,게임 스타드 버튼 박스 **/
.score-box {
	width: 700px;
	height: 200px;
	padding: 30px 0;
	position: relative;
	left: 32%;
	top: 75%;
	margin-top: 20px;
	background: #999;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0 0 5px #000;
}

.score-box > p {
	color: #fff;
}

.score-box > p:nth-of-type(1) {
	font-size: 2rem;
	padding-top: 10px;
}

.score-box > p:nth-of-type(2) {
	font-size: 2rem;
	padding: 40px 0;
}

.score-box > p > span {
	font-size: 2rem;
}

.start-btn {
	font-size: 1.3rem;
	background: #fff;
	padding: 15px;
	width: 250px;
	color: #000;
	letter-spacing: 3px;
}

.start-btn:hover {
	background: rgba(255, 255, 255, 0.5);
}

#how-btn {
	font-size: 1.3rem;
	padding: 15px;
	width: 250px;
	box-shadow: 0 0 2px #ccc;
	background: #000;
	color: #fff;
	letter-spacing: 3px;
}

#how-btn:hover {
	background: rgba(255, 255, 255, 0.5);
}

/** HOW TO PLAY? 설명박스 **/
.game-box { /** 스코어 알림박스와 같은처리 **/
	width: 500px;
	padding: 50px;
	border-radius: 30px;
	box-shadow: 13px 6px 5px #000;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -50%);
	text-align: center;
	height: 450px;
	display: none;
}

.how-box > h2 {
	color: #fff;
	font-size: 2rem;
}

.how-box > ul {
	list-style: none;
	text-align: left;
	border: 2px solid #fff;
	margin: 30px 0;
	padding: 40px;
}

.how-box > ul > li {
	font-size: 1.8rem;
	color: #fff;
	font-weight: bold;
	font-family: none;
	padding: 20px;
}

/** 게임 종료 후 스코어알림 박스 **/
.ending-box h2 {
	margin: 50px;
	font-family: none;
	font-size: 2rem;
	color: #fff;	
}	

.ending-box p {
	font-family: none;
	font-size: 2rem;
	color: #fff;
}

#ending-score {
	font-size: 2.3rem;
}

.ending-box > button {
	font-size: 2rem;
	margin: 50px 0;
	padding: 10px;
	font-family: none;
	font-weight: bold;
}
